.noResultsContainer {
  text-align: center;
  padding-top: 2rem; /* py-8 */
  padding-bottom: 2rem; /* py-8 */
}

.noResultsText {
  font-size: 1.25rem; /* text-xl */
  color: #4b5563; /* text-gray-600 */
}

.noResultsText.dark {
  color: #9ca3af; /* dark:text-gray-400 */
}
