.searchBarContainer {
  margin-top: 1rem; /* my-4 */
  margin-bottom: 1rem; /* my-4 */
}

.searchInput {
  padding: 0.5rem; /* p-2 */
  border-radius: 0.25rem; /* rounded */
  background-color: #ffffff; /* bg-white */
  width: 100%; /* w-full */
}

.searchInput.dark {
  background-color: #1f2937; /* dark:bg-gray-800 */
}
